@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');



*{
    margin: 0;
    padding: 0;
     font-family: 'Poppins', sans-serif;
}
.main{
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: 644px;
    position: relative;
}
body{
    background-color: black;
}
.main .box{
    height: 644px;
    width: 100%;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
   
}
nav img{
    width: 130px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family:  'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}
.hero >:nth-child(1){
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.hero >:nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero >:nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}
.separation{
    height: 7px;
    background-color: rgb(85, 84, 84);
    position: relative;
    z-index: 20;
}
.btn{
    color: white;
    font-weight: bold;
    padding: 3PX 8px;
    background-color: rgba(248, 238, 238, 0.021);
    border: 1px solid rgba(255, 255, 255, 0.521);
    border-radius: 4px;
}
.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}
.heros-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.btn-red-sm{
     background-color: red;
    color: white;
}
   .main input{
    
    padding: 07px 101px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px rgba(246, 238, 238, 0.5);

} 
.classfirst{
    display: flex;
    justify-content:center ;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.secimage{
    position: relative;
}
.secimage img{
    width: 401px;
    position: relative;
    z-index: 10;
}
.secimage video{
    width: 401px;
position: absolute;
top: 51px;
right: 0;
}
section.classfirst > div{
    display:flex ;
    flex-direction: column;

}
section.classfirst > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section.classfirst > div :nth-child(2){
    font-size: 24px;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}
.faqbox:hover{
    background-color: #414141;
    color: white;
}
.faq svg{
    filter: invert(1);
}
.faqbox{
    color: white;
    transition: all 1s ease-out;
    background-color: #2d2d2d;
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: 34px auto;
    padding: 24px;
    cursor: pointer;
}
footer{
    color: white;
    padding: 14px;
    max-width: 60vw;
    margin: auto;
}

.questions{
    padding: 34px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
.footer a{
    font-size: 14px;
    color: white;
}
.footer-items{
    display: flex;
    flex-direction: column;
    gap: 23px;

}
@media screen and (max-width:1300px) {
    nav{
        max-width: 90vw;
    }
    .hero >:nth-child(1){
    
    font-size: 32px;
    
}
.hero >:nth-child(2){
    font-size: 18px;
}
.hero >:nth-child(3){
    font-size: 18px;

}
.heros-button{
   display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
   
}
.classfirst{
    flex-wrap: wrap;
    
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 25px;
    
}
.secimage img{
    width: 305px;
}
.secimage video{
    width: 305px;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
footer{
    padding: 75px 0;
    max-width: 90vw;
    
}
.footer-items{
   display: flex;
    flex-direction: column;
    gap: 23px;

}
}
