
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.main{
    /* height: 80vh;
    width: 100vw; */
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: 644px;
    position: relative;
    
}
.main .box{
   height: 644px;
   width: 100%;
   background-color: black;
   opacity: 0.55;
   position: absolute;
   top: 0;
}
.navbar{
    height: 100px;
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

   
}
.navbar img{
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}
.navbar button{
    position: relative;
    z-index: 10;
}
.content{
    height: 100%;
    color: white;
    height: calc(100%-100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
    gap: 23px;
    padding: 0 30px ;
    
}
.firstline{
    font-family: pop;
}